@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GoToTOP追従ボタン start */
.go-to-top {
    position: fixed; /* 画面に固定 */
    bottom: 12px; /* 下から20pxの位置 */
    left: 12px; /* 右から20pxの位置 */
    z-index: 1000; /* 他の要素より前面に表示 */
    padding: 10px 20px;
    color: white; /* テキスト色 */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* 角丸 */
  }

/* GoToTOP追従ボタン end */


/* 特定のp要素に適用する例 */
p.custom-line-height {
    line-height: 2;
    /* 2倍の行間隔 */
}

h2.custom-line-height {
    line-height: 0.8;
    /* 2倍の行間隔 */
}

/* スライダー start*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #939393;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* 丸みを帯びたスライダー */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 
/* スライダー end*/


/* 黒透明背景 */
.bg-semi-transparent-black {
    background-color: rgba(0, 0, 0, 0.6);
}

/* FVカルーセル start */
.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    /* 必要に応じて調整 */
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

/* アニメーション前の初期状態 */
.hidden-slide-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.hidden-slide-right {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

/* アニメーション適用時 */
.animate-slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.animate-slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.bg-round-shadow {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .bg-blue-950 {
        box-shadow: none;
    }
}
/* FVカルーセル end */


/* 　アコーディオン start */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion-content.open {
    max-height: 500px;
    /* 実際の最大高さに応じて調整 */
}

.group:hover .hover-target {
    opacity: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.hover-target {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    position: absolute;
    bottom: 5px;
    right: 0;
}

/* 　アコーディオン end */


/* スペースタイプ start*/
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}

/* 共通のoverlayスタイル */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-effect-1:hover .overlay {
    background-color: rgba(199, 130, 0, 0.5);
    /* 透明なオレンジ */
    opacity: 1;
}

.hover-effect-2:hover .overlay {
    background-color: rgba(0, 28, 185, 0.5);
    /* 透明な青 */
    opacity: 1;
}

.hover-effect-3:hover .overlay {
    background-color: rgba(3, 155, 97, 0.5);
    /* 透明な青 */
    opacity: 1;
}
/* スペースタイプ end*/


/* 各種プランのフェイドアップ */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

